body {
	background:#333333;
	color:white;
}

fieldset {
	display:inline;
	border-radius:1em;
}

legend {
	color:white;
}

.parent {
	position: absolute;
	top: 50%;
	margin-top: -100px;
	left: 0;
	width: 100%;
}

.child {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.error {
	border:2px solid red;
}

.ok {
	border:2px solid green;
}

.required {
	color:red;
	float:right;
}